<div ng-controller="StockController">

	<%- partial('partials/top', {page: page}) %>
	
<div id="sectionDemo">
	
	<% /*form_for("#", function(f){ %>

	    <%- f.text_field("symbol",{placeholder:"Type company or stock symbol", class:"stockSymbol"}) %>

	    <%- f.submit("Retrieve") %><br />
	<% }) */%>


<h2> Retrieve Stock Quote</h2>
	<form ng-submit="stockSymbolLookup()">
	<p>
	<input type="text" name="stockSymbol" id="stockSymbol" placeholder="Type company or stock symbol" ng-model="stockQuery" ng-keyup="stockSynbolAutoComplete()">
	</p>
	</form>

	<p>You are searching for: {{stockQuery}}</p>
	
	<table id="stockResults">
		<tr class="stockResultsHeader">
		<td colspan="2">Results</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>{{stock.name}}</td>
		</tr>
		<tr>
			<td>Symbol</td>
			<td>{{stock.symbol}}</td>
		</tr>
		<tr>
			<td>Exchange</td>
			<td>{{stock.exchange}}</td>
		</tr>
		<tr>
			<td>Last Price</td>
			<td>{{stock.lastPrice}}</td>
		</tr>
		
	</table>

	
	<div id="stockHistory">
		<h2>Stock Quote History</h2>
		....(In Progress)

	</div>

 <!--
	<div class="sections">
	    <% for(section in sections) { %>
	         <p>
	            <b><a href="<%= sections[section].link %>"> <%= sections[section].name %></a></b><br>
	             <%= sections[section].description %>
	         </p>
	     <% } %>
	</div>
-->

</div>
</div>