<div ng-controller="StockController">

	<%- partial('partials/top', {page: page}) %>
	
<div id="sectionDemo">
	
	<% /*form_for("#", function(f){ %>

	    <%- f.text_field("symbol",{placeholder:"Type company or stock symbol", class:"stockSymbol"}) %>

	    <%- f.submit("Retrieve") %><br />
	<% }) */%>


<h2> Retrieve Stock Quote</h2>
	<p><b>Warning:</b> The stock symbols you enter here, will be tracked and displayed in the table below.</p>
	<form ng-submit="stockSymbolLookup()">
	<p>
	<input type="text" name="stockSymbol" id="stockSymbol" placeholder="Type company or stock symbol" ng-model="stockQuery" ng-keyup="stockSynbolAutoComplete()">
	<input type="submit" name="submit" id="submit" value="Retrieve">
	</p>
	</form>

	<p>You are searching for: {{stockQuery}}</p>
	
	<table id="stockResults">
		<tr class="stockResultsHeader">
		<td colspan="2">Results</td>
		</tr>
		<tr>
			<td>Name</td>
			<td>{{stock.name}}</td>
		</tr>
		<tr>
			<td>Symbol</td>
			<td>{{stock.symbol}}</td>
		</tr>
		<tr>
			<td>Exchange</td>
			<td>{{stock.exchange}}</td>
		</tr>
		<tr>
			<td>Last Price</td>
			<td>{{stock.lastPrice}}</td>
		</tr>
		
	</table>

	
	<div id="stockHistory">
		<h2>Stock Quote History</h2>

		<p>This table is a history of the last 10 quotes searched using this app. Don't enter a symbol if you don't want to be tracked.</p>
		<table class="table table-striped">
			<tr>
				<th>Stock Symbol</th>
				<th>Stock Price</th>
				<th>IP Address</th>
				<th>User Agent</th>
				<th>Country Name</th>
				<th>Region Name</th>
				<th>City Name</th>
				<th>Zip Code</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Time Zone</th>
			</tr>
			<tr ng-repeat="data in clientData">
				<td>{{data.stockSymbol}}</td>
				<td>{{data.stockPrice}}</td>
				<td>{{data.ipAddress}}</td>
				<td>{{data.userAgent}}</td>
				<td>{{data.countryName}}</td>
				<td>{{data.regionName}}</td>
				<td>{{data.cityName}}</td>
				<td>{{data.zipCode}}</td>
				<td>{{data.latitude}}</td>
				<td>{{data.longitude}}</td>
				<td>{{data.timeZone}}</td>
			</tr>
		</table>
		

	</div>

 <!--
	<div class="sections">
	    <% for(section in sections) { %>
	         <p>
	            <b><a href="<%= sections[section].link %>"> <%= sections[section].name %></a></b><br>
	             <%= sections[section].description %>
	         </p>
	     <% } %>
	</div>
-->

</div>
</div>