<h1>{{title}}</h1>


{{#form "" class="form"}}
	{{input "symbol" "" placeholder="Type company or stock symbol" style="width: 200px;"}}
	{{submit "save" "Retrieve"}}
{{/form}}

<div id="sections">
	 {{#each sections}}
	 	<p>
	    	<b><a href="{{this.link}}">{{this.name}}</a></b><br>
	    	 {{this.description}}
	 	</p>
	 {{/each}}
</div>

<p ng-bind="1+2"></p>